BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 0
AccessModifierOffset: -2
AlignEscapedNewlines: DontAlign
FixNamespaceComments: false
IndentCaseLabels: true
NamespaceIndentation: All
SortIncludes: false
AlignTrailingComments: false